@font-face {
    font-family: IBM Plex Mono;
    src: url(../fons/IBMPlexMono-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
}


h1 {
    font-family: IBM Plex Mono;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -0.08em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #4520ab;
    text-align: center;
    margin-bottom: 86px;
    margin-top: 20px;
}

.container {
    max-width: 540px;
    margin: 50px auto;
   
}

.add{
    max-width: 500px;
    margin: 0 auto;
}
.record {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    justify-content: space-between;
    border-bottom: 1px solid #111111;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: -0.03em;
  
    div {
        width: 50%;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 12px;
        justify-content: space-between;
    }
    div:nth-child(1) {
        background-color: #f0f0f0;
        width: 10%; 
    }
    div:nth-child(2) {
       background-color: #f0f0f0;
       width: 45%; 
    }
    div:nth-child(3) {
        border-left: 2px solid #111111;
        background-color: #cecbcb; 
      
    }
    div:nth-child(4) {
        background-color: #cecbcb;
        padding-left: 0;
        padding-right: 20px;
       position: relative;
       right: 30px;
       cursor: pointer;
      
    }
 
}

.record:last-child {
    border-bottom: none;
    margin-bottom: 60px;
}



.input-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding: 0 10px;
    max-width: 500px;
    height: 56px;
    border-radius: 14px;
    border: 2px solid #111111;
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    &:focus {
        outline: none;
        background: none;
    }
    &:active{
        background-color: none;
    }
    
}

.add-button {
    width: 107px;
    height: 38.08px;
    padding: 0px 12px 5px 12px;
    border-radius: 8px;
    background: #111111;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.03em;
    text-align: left;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #4520ab;
    }
    &:active {
        box-shadow: none;
    }
}

.records-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.img-delete{
    background-color: #cecbcb;
    
}

.delete-button-container{
    width: 20px;
    border-right: 0 0 8px 0;
}

.delete-all-button {
    display: flex;
    margin: 0 auto;
    width: 176px;
    height: 38px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    background-color: #adadad;
    font-family: IBM Plex Mono;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    letter-spacing: -0.05em;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    &:hover {
        background-color: #111111;
        color: #ffffff;
    }
}


.tooltip {
    opacity: 0; 
    pointer-events: none;
    max-width: 220px;
    white-space: normal;
    background-color: #FFFFFF;
    color: #111111;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 40px;
    z-index: 5;
    border-radius: 10px;
    transition: all 0.2s ease;
  }

    .cyrillic-text, .latin-text {
    white-space: nowrap;
    text-overflow: ellipsis; 
    max-width: 245px; 
    display: inline-block;                          
    flex-shrink: 0;  
    overflow: hidden;
  }
  
  .latin-text:hover .tooltip,
  .cyrillic-text:hover .tooltip {
    opacity: 1;
    
  }

  
  

@media screen and (max-width: 536px) {
    .record div:nth-child(4){
        padding-right: 18px;
        
    }
    div:nth-child(3) {
        border-radius: 0 8px 0 0;
    }
}

@media screen and (max-width: 515px) {
    .record div:nth-child(4){
        padding-right: 15px;
        
    }
}

@media screen and (max-width: 500px) {
    .record div:nth-child(2),
    .record div:nth-child(3){
       flex-shrink: 0;
        
    }
}

@media screen and (max-width: 384px){
    h1{
font-size: 36px;
line-height: 46.8px;
letter-spacing: -0.07em;
text-align: center;
    }
   
}